<!DOCTYPE html>

<html ng-app="numera" >

    <head>

        <title>Listagem-Documentos</title>

        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>


        <script src="Angular/AngularJs.js" type="text/javascript"></script>

        <script src="Angular/angular.min.js.map"></script>

        <script src="Angular/Angula-route.min.js" type="text/javascript"></script>

        <script src="Angular/Angular.min.js.map"></script>

        <script src="Js/Controllers/numeramod.js" type="text/javascript"></script>

        <script src="Js/Controllers/numeracao.js" type="text/javascript"></script>

        <script src="Js/Controllers/lista.js" type="text/javascript"></script>

        <script src="Js/Servicos/listaAPIservico.js" type="text/javascript"></script>

        <script src="Js/Controllers/SobreController.js" type="text/javascript"></script>


        <script src="Js/Config/Configuracao.js"></script>


        <script src="Js/Lib/util.js" type="text/javascript"></script>


    </head>

    <body >


        <div class="container">

            <div ng-controller="numeraCtrl">

                <br>

                <h1 align="center">  

                    {{app}}

                </h1 > 
                
                

                <h3 align="center">

                    {{subapp}}


                </h3>

            </div>

            <br> <hr>

           

        </div>  
        
        
        <div ng-view=""> </div>

    </body>

</html>
