<div >

    <h1 ng-bind="nova" align="center"> </h1> 

    <hr>

    <div class>

        <button type="button"  ng-click="testecad()"   class="btn btn-primary">Cadastrar</button>
        <button type="button"  onclick="myFunction()"  class="btn btn-primary">Teste</button>
        
        <a href="#/Sobre">Sobre o Site</a>

        <br><br>

        <input class="form-control form-control-lg"  ng-model="pesqui"id="formFileLg" type="text">

    </div>

    <hr>

    <div class="container" style=" box-shadow: -4px 2px 38px 0px rgba(0,0,0,0.41);
         -webkit-box-shadow: -4px 2px 38px 0px rgba(0,0,0,0.41);
         -moz-box-shadow: -4px 2px 38px 0px rgba(0,0,0,0.41);"> 
    
    <table  class="table table-striped">

        <tr>

            <th> Ação </th>
            <th> Numero </th>
            <th> Data </th>
            <th> Ente </th>
            <th> Tipo </th>
            <th> Ementa </th>

        </tr>

        <tr ng-repeat="item in listagem| filter : pesqui">

            <td> <button type="button"  ng-click="teste(item.id)"   class="btn btn-danger">Apagar</button> </td>
            <td align="center"> {{item.numero}}  </td>
            <td > {{item.data| date : 'dd/MM/yyyy' }}  </td>
            <td align="center"> {{item.ente}}  </td>
            <td align="center"> {{item.tipo}}  </td>
            <td align="justify"> {{item.ementa}}  </td>

        </tr>


    </table>
        
    </div>     

</div>
