<div class= container >

    <br>

    <div class="container" align = "center">
        
        <img src="./Images/MontadasPB.jpg" alt="Montadas" style="width : 100px; height: 80px;">
   

    </div>

    <br>

    <div class="jumbotron" align="center" style=" box-shadow: -4px 2px 38px 0px rgba(0,0,0,0.41);
         -webkit-box-shadow: -4px 2px 38px 0px rgba(0,0,0,0.41);
         -moz-box-shadow: -4px 2px 38px 0px rgba(0,0,0,0.41);">

        <h1 class="display-4"> <b> {{empresa}} </b> </h1>

        <p class="lead">  <b> {{endereco}} </b>  </p>

        <hr class="my-4">

        <p> {{copyrigth}} </p>

        <hr class="my-4">

        <p>  {{contato}} </p> 
        
        <hr>

    </div>

